html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
}

/* body {
    filter: blur(.0px);
    backface-visibility: hidden;
    transform: perspective(1px) translateZ(0);
    -webkit-text-stroke: 0px!important;
    -webkit-font-smoothing: subpixel-antialiased !important;
} */

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .card-columns {
        column-count: 2!important;
    }
}

@media (max-width: 576px) {
    .card-columns {
        column-count: 1!important;
    }
}

.spLink {
    color: white!important;
}

.sp-container {
    background-image: url("/bg-extra.png");
    background-repeat: no-repeat;
    background-size: cover;
}